#outer-box {
	border-radius: 8px;
}

#window {
  background-color: #1d2021;
	border-radius: 8px;
}

#text {
	color: #d4be98;
	font-family: "LigaSFMonoNerdFont";
  font-size: 15px;
}

#text:selected {
	color: #1d2021;
}

#input {
	color: #d4be98;
	margin: 4px;
	border: 1px solid #eeaf78;
	border-radius: 8px;
  background-color: #1d2021;
}

#scroll {
	margin: 2px 2px 3px 2px;
}

#entry {
	padding: 4px 8px;
}

#entry:selected {
	background-color: #eeaf78;
	border-radius: 4px;
  margin: 2px 3px;
}

#input > image.left,
#input > image.right { 
	color: #ffefd0;
}
